.project {
  width: 100%;
  height: 100%;
  display: inline-block;
  float: left;
}

.project-image- {
  width: 100%;
  height: 20px;
}

.project-image {
  position: relative;
  display: inline-block;
  margin-left: auto;
  height: auto;
  width: 100px;
  background-color: purple;
}

.project-tag {
  position: relative;
  display: inline-block;
  float: left;
  cursor: pointer;
}

.github-icon {
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 2%;
  margin-left: 2%;
  cursor: pointer;
}

.project-explain-container {
  width: 97.7%;
  height: 100%;
}

.project-explain {
  white-space: normal;
  overflow-wrap: break-word;
}
