@keyframes buttonFade {
  0% {
    background-color: white;
    top: -1px;
    box-shadow: 0px 1px black;
  }
  60%{
    top: -2px;
    box-shadow: 0.5px 2px black;
  }
  100% {
    op: -3px;
    background-color: purple;
    box-shadow: 1px 4px black;
  }
}

@keyframes buttonClick {
  0% {
    margin-top: 0px;
    box-shadow: 0px 3px black;
  }
  50%{
    margin-top: 3px;
    box-shadow: 0px 0px black;
  }
  100% {
    margin-top: 0px;
    box-shadow: 0px 3px black;
  }
}

@keyframes sidebarMove {
  0% {
    margin-left: -380px;
  }
  60% {
    margin-left: 40px;
  }
  75% {
    margin-left: -10px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes titleMove {
  0% {
    opacity: 1;
    margin-right: 380px;
    margin-left: -380px;
  }
  60% {
    opacity: 1;
    margin-left: 20px;
  }
  75% {
    opacity: 1;
    margin-left: -1px;
  }
  100% {
    opacity: 1;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@keyframes buttonShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar {
  postion: absolute;
  display: inline-block;
  width: 300px;
  height: 70%;
  margin-left: 80px;
  z-index: 1;
}

.sidebarAlphav0.9 {
  postion: absolute;
  display: inline-block;
  width: 225px;
  height: 70%;
  margin-left: 12%;
}

.sidebar-visable {
  width: 100%;
  height: 100%;
  margin-top: 90px;
  animation: sidebarMove 0.4s;
  animation-timing-function: ease-in;
}

.sidebar-hidden {
  visibility: hidden;
}

.sidebar-button {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 55px;
  background-color: white;
  font-size: 1.5rem;
  border: 1;
  border-radius: 4px;
}

.sidebar-button-title:disabled {
  position: relative;
  width: 100%;
  opacity: 0;
  height: 55px;
  color: white;
  font-size: 1.5rem;
  border: 1;
  border-radius: 4px;
  top: -4px;
  box-shadow: 1px 4px black;
  background-color: blue;
  outline:0;
  animation: titleMove 1s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.sidebar-button:hover {
  top: -4px;
  opacity: 1;
  animation: buttonFade 0.4s;
  box-shadow: 1px 4px black;
  background-color: purple;
  transition: background 1s;
}

.sidebar-button:active {
  top: -0px;
  opacity: 1;
  background-color: purple;
}

.sidebar-button:focus {
  top: -4px;
  opacity: 1;
  animation: buttonFade 0.4s;
  box-shadow: 1px 4px black;
  background-color: purple;
  outline:0;
  transition: background 1s;
}
