.skillbar_wrapper {
  align-self: right;
  float: left;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 89%;
  height: 8vmin;
  background-color: black;
  border-radius: 4px;
}

.skillbar_filler {
  text-align: left;
  margin-left: 0.5vw;
  margin-top: 0.5vh;
  width: 90%;
  height: 84%;
  background: linear-gradient(to right, #f00100, #3aff15);
  border-radius: 4px;
}
