.board-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.dashboard-top {
  position: relative;
  top: 76%;
  height: 24%;
  margin-left: calc(50% - (81%/2));
  width: 81%;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: grey;
  -webkit-transform: perspective(330px) rotateX(40deg);
  z-index: 1;
}

.button-box {
  position: relative;
  display: inline-block;
  height: 70%;
  width: 21%;
  left: 50%;
  top: 15%;
  background-color: black;
  -webkit-transform: perspective(1080px) rotateX(40deg);
  border-radius: 30px;
}

.dashboard-bottom {
  position: absolute;
  top: 96.6%;
  left: 1.4%;
  height: 201px;
  width: 1547px;
  border-top: 2px solid black;
  background-color: purple;
  z-index: 1;
}
