.profile-card {
  height: 90%;
  overflow: hidden;
}

.profile-body-content {
  width: 100%;
  height: 100%;
  margin-left: 1%;
  display: inline-block;
  overflow: hidden;
}

.bio-pic {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  float: right;
  height: auto;
  margin-top: 20px;
  margin-right: 60px;
  width: 20%;
}

.content-left {
  position: relative;
  width: 26%;
  display: inline-block;
  text-align: right;
  float:left;
}

.content-right {
  position: relative;
  width: 34%;
  display: inline-block;
  margin-left: 0px;
  text-align: left;
  float:left;
}
