.profile-card {
  height: 90%;
  overflow: hidden;
}

.profile-body-content {
  width: 97.7%;
  height: 100%;
  margin-left: 1%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bio-pic {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  height: auto;
  margin-top: 20px;
  margin-right: 60px;
  width: 20%;
}

.content-title {
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 30px;
  width: 200%;
  height: 1px;
  float:left;
}

.content-left {
  position: relative;
  display: inline-block;
  width: 31%;
  text-align: right;
  float:left;
}

.content-right {
  position: relative;
  display: inline-block;
  width: 34%;
  margin-left: 0px;
  text-align: left;
  float:left;
}
