.skills-body-button {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-left: 4%;
  width: 44%;
  height: 50px;
  background-color: white;
  font-size: 2rem;
  border: 1;
  border-radius: 4px;
  z-index: 1;
}

.skills-body-button:focus {
  top: -4px;
  background-color: purple;
  animation: buttonFade 0.4s;
  box-shadow: 0px 4px black;
}

.skills-body-content {
  width: 100%;
  margin-left: 1%;
  display: inline-block;
  height: calc(100% / 3);
  overflow: hidden;
}
